@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color:#c5e4e8;
    --secondary-color:#00474b;
    --btn-color:#23c2ad;
}

.bg-primary{
    background-color:var(--primary-color);
}

.bg-secondary{
    background-color: var(--secondary-color);
}
.bg-btn{
    background-color: var(--btn-color);
}
.end{
    justify-self: flex-end;
}