@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    background: green;
    box-sizing: border-box;
    font-family:'Merriweather', sans-serif;
    transition: all 0.3s ease;
}
body{
    background: royalblue;
    height: 100%;
    width: 100%;
}

.heading{
    color:White;
    background: black;
    transition: all 0.3s ease;
    animation: forwards 0.3s;
}
#nextheading{
    color: black;
    background: white;
}
.box-model{
    height: 200px;
    width: 200px;
    background:grey;
    border: 3px solid red;
    margin: 200px;
}
.box-heading{
    background: royalblue;
    padding: 50px 30px 0px 15px;
}
.text-styling h1{
    color:red;
}
.text-styling :nth-of-type(odd){
    color: orange;
}

.text-styling :hover{
    color: purple;
    cursor: pointer;
}

#styling h1{
    text-align:center;
    letter-spacing: 10px;
    line-height: 30px;
    font-size: 48px;
    font-weight: 600;
}

